<!doctype html>
<head>
<!--
    <meta content="initial-scale=1, maximum-scale=1" name="viewport">
-->
    <meta name=”Viewport” content=”width=550; user-scaleable=no; initial-scale=1.0” />

    <link rel="stylesheet" href="css/jquery.jgrowl.css"/>
    <link rel="stylesheet" href="css/jQuizMe.css"/>
    <link rel="stylesheet" href="css/responsive.css"/>
    
    <link rel="stylesheet" href="css/jquery-ui-1.8.18.custom.css"/>
    
    <script src="js/libs/modernizr-2.0.6.min.js"> </script>
    <!-- jquery & plugins (addins needs to be included after jquery -->
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script type="text/javascript" src="js/libs/jquery.jgrowl_minimized.js"></script>
    <!-- <script type="text/javascript" src="js/libs/jquery.simplemodal.js"></script> -->
    <script type="text/javascript" src="js/libs/jquery-ui-1.8.18.custom.min.js"></script>
    <script type="text/javascript" src="js/jquery.countup.js"></script>
    <script type="text/javascript" src="js/libs/jQuizMe-2.2.js"></script>
    <script type="text/javascript" src="js/libs/gauge.min.js"></script>
    <script type="text/javascript" src="js/libs/jquery.gauge.min.js"></script>
    <script type="text/javascript" src="js/libs/jquery.bxSlider.js"></script>
    
    <link rel="stylesheet" type="text/css" href="css/jRating.jquery.css" media="screen" />
    <script type="text/javascript" src="js/libs/jRating.jquery.js"></script>
    <script type="text/javascript" src="js/myjs.js"></script>
    

</head>
<body>

    <!-- HEADER -->
	<div id="titleheader">
		<div class="inner" style="margin-bottom: 0px;">
			<h2 class="title" style="float:left;"><img src="/image/nk_nokia_logo.png" style="background: #4472A7; margin-right: 10px;"/>engaging learning</h2>

            <% if  (typeof loggedon === 'undefined') { %>
            <div id="nav">
    			<ul style="padding-left: 0px;">
					<li><a href="#">Scan QR</a></li>
					<li><a href="#">Enter QR</a></li>
					<li><a href="/logout">Logout</a></li>
				</ul>
			</div>
            <% } %>
            
            <div style="clear:both;"></div>
		</div>
	</div>
    
    <!-- BODY -->
    <div id="main-body">
        <div id="pageBody" class="wrapper clearfix">
            <%- body %>
        </div> <!-- #pageBody -->
    </div> <!-- #main-body -->

	<div id="footer">
		<footer class="wrapper">
			<h3>footer</h3>
		</footer>
	</div>

</body>
</html>